[2019-10-30 10:35] tobyhodges opened #1 "Links to background discussion"
Notes from the community call about this tutorial (2019-10-29): https://docs.google.com/document/d/1ciL2OE2bMitjaJSN6cJDRhrplHorN6QjPoaqzWnFIYM/edit

Original issue discussing this on User Guide repository: https://github.com/common-workflow-language/user_guide/issues/160

And a tweet on the topic: https://twitter.com/tbyhdgs/status/1162372570311745538

[2019-11-05 16:05] stain commented on #1
Some slides introducing workflows and then CWL:
http://slides.com/soilandreyes/2019-09-18-cwl-cruk#/

[2019-11-07 10:52] tobyhodges opened #2 "Kick-off discussion"
Virtual kick off event on 2020-03-26, sign up at : https://bio-it.embl.de/events/lesson-development-sprint-common-workflow-language-tutorial/

--- Original message below for posterity --

We should try to meet together online some time soon, so we can figure out how to get started on this. Perhaps @fpsom and I can provide an overview of how to work with the Carpentries lesson template, and we can

[2019-11-07 11:06] fpsom commented on #2
Hi @tobyhodges - excellent idea!

Regarding the time, I'll be literally boarding a plane at that time on the way back from the ELIXIR BioHackathon, so I won't be able to join (the latest I could do on the 22nd would be at ~11:00 UTC, but I assume that would be too constrained for people outside EU).

That being said, I'm fairly certain that there will be a lot of discussions to follow that call, s

[2019-11-07 16:03] mr-c commented on #2
I'll also be leaving the ELIXIR BioHackathon that afternoon, but luckily not by plane, so that time works for me. Thank you @tobyhodges for organzing this kickoff call!

[2019-11-19 16:14] stain commented on #2
Sorry, time works poorly for me as I will also be on my way back from BioHackathon. Pinging @longr in case he can make it.

[2019-11-19 16:21] ttubb commented on #2
There is some travel-related uncertainty, but i will most likely be able to attend.

[2019-11-19 16:30] tobyhodges commented on #2
At the moment, I think it would be better to find a different time & date - it's important that as many as possible of our contributors can attend.

Is anyone else reading this and would be able to attend at 15:30 UTC on Friday (22 November)?

Spoilers: one thing I intend to propose is that we should try to find an opportunity for several of us to meet in person to discuss this. The early stages o

[2019-11-22 07:46] ttubb commented on #2
Will the discussion take place today?
It looks like i will be sitting in a car (as the passenger) at 15:30 UTC, so not ideal, but i would be able to join using my phone & headset.

[2019-11-22 10:52] mr-c commented on #2
@tobyhodges I can join today, yes. It would be nice if we could choose a time when @fpsom @stain are available.

[2019-11-22 11:08] tobyhodges commented on #2
Agreed. I'm travelling most of next week. How's Monday 2 December for everyone? To get the ball rolling, I propose 11:00 CET (10:00 UTC) https://www.timeanddate.com/worldclock/fixedtime.html?msg=CWL+Tutorial+Planning&iso=20191202T10&p1=%3A&ah=1

[2019-11-22 11:13] ttubb commented on #2
Monday the 2nd works for me.

[2019-11-22 14:10] fpsom commented on #2
Hi all. Monday the 2nd works for me - ideally at 10:00 CET or 12:00 CET (I have another call at 11:00 that I could change if really necessary / not another option available)

[2019-12-02 07:49] fpsom commented on #2
Hi all! Given that there has been little on this thread so far, I do expect that the answer will be "no" but I will still ask; is today's call/meet still on? :)

[2019-12-02 07:50] tobyhodges commented on #2
I am up for it if you are 🙂

[2019-12-02 07:53] fpsom commented on #2
Cool! I'm in! Still at 11:00 CET? Also, what will we be using?

[2019-12-02 07:55] tobyhodges commented on #2
We can meet on Zoom at https://zoom.us/j/535836763

[2019-12-02 12:53] tobyhodges commented on #2
The notes from today's kickoff meeting are here: https://docs.google.com/document/d/12kUlKrrMZGou3VCy46Fqu8hIhq8HlHbwlySTmGNrh5o/edit#

Main outcomes were:

- target audience:
  - Knows how to run (bioinformatics) tools a command line
  - May be familiar with basics of piping/scripting
  - Needs to scale up their analysis
- central example should be simple but realistic e.g. variant calling pipeli

[2020-01-30 13:30] ttubb commented on #2
Hello everyone,

i don't know if this discussion has been continued since we talked in December (unfortunately I'm unable to attend the regular user meetings at the moment).
When we held the discussion in December i wasn't sure about the meetup on Thu, 26 March. Everything is sorted out now and i will be able to attend. Another member of the group i now work in has also expressed interest (Christi

[2020-01-30 14:58] tobyhodges commented on #2
This is great news, Tom. Please register here to help us plan numbers, communicate details closer to the time etc: https://bio-it.embl.de/events/lesson-development-sprint-common-workflow-language-tutorial/

[2020-02-28 09:52] stain commented on #2
Hi, I guess reminder for people about the [tutorial development meetup](https://bio-it.embl.de/events/lesson-development-sprint-common-workflow-language-tutorial/) next month `2020-03-26` in Heidelberg. It looks like I won't be able to go because of other travel commitments, but if possible could I try to remote in?

[2020-03-09 13:00] ttubb commented on #2
Hello fellow pipeline enthusiasts,
Because of the coronavirus outbreak our university has instructed employees to cancel trips unless "urgently required". So it looks like i will not be allowed to attend the lesson development sprint in Heidelberg. I was very much looking forward to the meeting. Hope the rest of you are having less trouble (and manage to stay healthy).
Regards,
Tom

[2020-03-12 10:31] matuskalas commented on #2
Hey all, this sounds good! After an invite from @mr-c, I'm in :-)

[2020-03-12 10:32] hmenager commented on #2
Depending on wether my agenda clears up for that day (highly likely given current situation) I'll be happy to join.

[2020-03-12 11:05] tobyhodges commented on #2
Hey all, great to have you onboard for this **now entirely virtual** development sprint. Please register here to receive further updates, connection details, etc: https://bio-it.embl.de/events/lesson-development-sprint-common-workflow-language-tutorial/

[2020-03-26 11:29] matuskalas commented on #2
Unfortunately I haven't been able to join you today @tobyhodges @mr-c 😿
Have a great productive day! I'm excited looking forward to checking out the results 🤩

[2020-03-27 11:40] tobyhodges opened #6 "Fill in lesson details"
We need to fill out the relevant fields in `_config.yml` and `README.md` so that the lesson title etc are displayed correctly.

[2020-04-20 12:32] tobyhodges commented on #2
I'll report out from the lesson development sprint tomorrow, 21 April 2020, in the standard 14:30 UTC CWL community call timeslot and also earlier in the day at 07:00 UTC. I'm looking forward to giving you all an update on the progress we made and my suggestions for next steps to take.

[2020-04-21 06:57] tobyhodges commented on #6
mostly done but we still need to remove the SWC branding, update links to point to CWL resources, etc

[2020-04-21 10:00] tobyhodges opened #7 "Creating exercises"
Now that we have [learner profiles](https://common-workflow-lab.github.io/cwl-novice-tutorial/audience/) and [learning objectives]() drafted, as well as some [concept maps](https://docs.google.com/presentation/d/1aVdK8LHkgtESBunCQ-p7XmEl8NB9XbgDsH67X0_2HWg/edit#slide=id.g72208cbc10_0_264) for the tutorial, it's time to start creating some exercises for formative assessment 🎉

A good starting point

[2020-04-21 11:08] tobyhodges opened #8 "choose approach for "add your own script" episode"
From the lesson development sprint notes:

Before working on exercises for this section, we need to choose one or more of these options. @anyone with more CWL experience than I, do you have a suggestion/recommendation?

[2020-04-21 11:19] tobyhodges opened #9 "add a learning objective for help strategies"
One outcome of the tutorial should be to familiarise learners with the places/resources/people they can go to for help with next steps. We should add a specific learning objective and, if necessary*, an episode for this.

* this information could be distributed throughout the other episodes and highlighted in callout boxes

[2020-04-21 11:35] tobyhodges opened #10 "introduce YAML"
It's possible our learners will arrive without experience with YAML. We should provide an overview of the essentials and link to [the pre-existing YAML guide](http://www.commonwl.org/user_guide/yaml/).

[2020-04-21 11:55] #6 closed

[2020-04-21 11:57] tobyhodges opened #11 "Add setup info"
Once we have some exercises (#7), we should add some instructions to `setup.md` to guide learners through what they will need to install/connect to, to follow the tutorial.

[2020-04-27 09:10] #1 closed

[2020-04-27 09:10] #2 closed

[2020-10-07 12:29] swzCuroverse commented on #7
A note that we will be working on adding exercises and working to finish this tutorial as part of our work for the CZI EOSS grant.  More to come...

[2020-10-07 12:56] tobyhodges commented on #7
This sounds very exciting, @swzCuroverse

[2020-10-07 13:07] swzCuroverse commented on #7
Yes! @tobyhodges , @mr-c is helping as well as @tetron. I would love for you to review our work as we move along if you have bandwidth.  @tetron works at Curii with me (@mr-c works closely with us and helped us write the grant) so everyone is in the proverbial loop :)

[2020-10-07 13:17] tobyhodges commented on #7
Very happy to review anything you come up with, time permitting.

(BTW this lesson would fit nicely in The Carpentries Incubator while it's being developed, but I understand why you might prefer to keep it within the CWL ecosystem.)

[2020-10-07 13:20] swzCuroverse commented on #7
I believe our plan is to keep it in the Carpentries style in the Carpentries system if at all possible.  So, let's see about that!

[2020-10-07 13:32] tobyhodges commented on #7
:+1: Feel free to ping me if & when you need more information

[2020-11-06 10:43] skanwal commented on #8
Hi @tobyhodges

I would be keen to help with this exercise according to my experience. Also, happy to take inputs from others.

I have mostly taken approach 3 (via `InitialWorkDirRequirement`)  to list script content.
If that sounds like a good start, I can start drafting a lesson around it?

[2020-11-06 10:46] skanwal commented on #7
Hi @swzCuroverse

I have been keen to find sometime to help with drafting a couple exercises. Initially, planning to start with https://github.com/common-workflow-lab/cwl-novice-tutorial/issues/8 and then possibly also look into https://github.com/common-workflow-lab/cwl-novice-tutorial/blob/gh-pages/_episodes/outputs.md.

Please let me know if this is fine? Happy to take inputs at any point.

[2020-11-06 10:51] tobyhodges commented on #8
Hi @skanwal thanks for reaching out. It's good to hear you're keen to work on this and I encourage you to develop the episode as you describe. There's been some activity on this repository in recent weeks, mostly from @swzCuroverse and @bcosc, so (if you haven't already!) maybe a good idea to get their input and make sure you're all aligned to work towards the same goal

[2020-11-06 11:10] skanwal commented on #8
Thanks @tobyhodges .

I have't had a chance to talk with @swzCuroverse. That's why left a comment at [issue#7](https://github.com/common-workflow-lab/cwl-novice-tutorial/issues/7) to have a quick feedback. Though, I have been following @bcosc work recently on PR.

Happy to have further discussion if needed at any point.

[2020-11-06 12:31] swzCuroverse commented on #7
Hi @skanwal that sounds great.  We have had a bi-weekly meeting where we have been meeting about our work - perhaps you could join us and talk about what you wanted to work on and we can sync up?  I can PM you?  We can reschedule the time to work with your time zone in Australia.

[2020-11-06 12:33] swzCuroverse commented on #7
In the meantime, feel free to work and we can offer comments via github, etc :)

[2020-11-06 21:54] skanwal commented on #7
@swzCuroverse - sounds great, I'll be keen to join bi-weekly discussions as well and thanks for considering time-zone difference.
My email ID is kanwals@unimelb.edu.au. Please feel free to send me an email and we can hopefully workout a time that suits everyone.

I am going through recent PRs from @bcosc and feedback from Michael and Toby. Will start working on a draft exercise in coming week.

[2020-11-10 05:17] skanwal opened #15 "ERROR: Permission to common-workflow-lab/cwl-novice-tutorial.git denied"
Hello @mr-c @tobyhodges @swzcuroverse

Just gearing up on this and facing an issue while trying to push a branch to this repo.

Tracing my own steps below:

[code]

I have also tried cloning via https link but that gives `fatal: Authentication failed for 'https://github.com/common-workflow-lab/cwl-novice-tutorial.git/'`

Do I need to be added to repository or go through authentication?
Any help wi

[2020-11-10 07:13] mr-c commented on #15
Hello Sehrish!

You'll need to accept the invitation at https://github.com/common-workflow-lab/cwl-novice-tutorial/invitations to be able to push here. Hope this fixes the problem for you :-)

[2020-11-10 21:32] skanwal commented on #15
Thanks, Michael.

It seems the invitation has expired.. Can I please get it again? I didn't receive any email notification last time, hence probably missed it earlier..

[2020-11-10 21:55] mr-c commented on #15
I resent it!

[2020-11-10 21:57] skanwal commented on #15
Received and accepted.
Thank you.

[2020-11-10 21:57] #15 closed

[2020-11-20 16:07] mr-c opened #17 "advanced requirements episode"
with dynamic resource requirements based upon the characteristics of the inputs

[2021-02-12 09:01] mr-c commented on #7
FYI, there will be a hackathon for this effort on March 22 and 23rd. Registration will open next week and in the mean time we are gathering details over at https://github.com/common-workflow-lab/cwl-novice-tutorial/wiki/2021-Lesson-Hackathon

[2021-02-13 08:04] skanwal commented on #7
@mr-c thanks for this info.
I have marked these dates in my calendar. The sessions are starting an hour before midnight in Australia (Melbourne) but will try best to attend as I have grasped the main understanding, format and the concept behind the tutorial exercises  through [script episode](https://github.com/common-workflow-lab/cwl-novice-tutorial/pull/20).

Also, noticed a small typo in the da

[2021-03-22 15:41] unode opened #25 "Preview rendered website in pull requests"
During the lesson hackaton there was some interest in having previews of the website directly on pull requests before they are merged.

A few options were mentioned and pinned to be explored at a later point:

* [Surge.sh](https://github.com/marketplace/actions/surge-pr-preview)
* [Netlify](https://www.netlify.com/blog/2016/07/20/introducing-deploy-previews-in-netlify/)

[2021-03-22 15:45] tobyhodges commented on #25
Others have enabled Netlify previews for Pull Requests on their lesson repository. Linking an example here in case it serves as a useful reference: https://github.com/carpentries-incubator/SDC-BIDS-dMRI/pull/80

[2021-03-23 08:41] mr-c opened #26 "move non-novice episodes / concepts to intermediate+ repo"
https://github.com/common-workflow-lab/cwl-intermediate-tutorial

[2021-03-23 10:32] mr-c opened #27 "Monthly half-day meetups"

[2021-03-23 10:42] mr-c commented on #25
Magic steps

1. Go to https://app.netlify.com/sites/agitated-wright-f1741d/settings/deploys#outgoing-notifications
2. "add notification" → "GitHub Pull Request comment"
3. "Event to listen for" → "Deploy Preview succeeded"
4. Results in "Add Deploy Preview notifications as pull request comments when Deploy Preview succeeds"

[2021-04-07 19:35] swzCuroverse opened #31 "Objectives and Exercise mismatch for "Adding your own script to a step""
Unless, I misunderstand. This episode exercises seem to focused on creating a script at run time and running instead of the object which I believe is running an existing script as a step in your workflow, using the right requirements to do so, and obtaining the outputs.

The objectives are stated as:
Questions
How to include and run a script in a step at runtime?

Which requirements need to be spe

[2021-04-07 19:45] swzCuroverse opened #32 "Objectives and Exercise Mismatch for "Describing requirements""
Unlike I misunderstand from the objectives, it seems like this episode should be about using CWL requirements (i.e. runtime, ResourseRequirements, InitialWorkDirRequirement, proper filepaths, docker usage), but the exercise seem to focus on general setup of a CWL workflow like how to use the basecommand,  inputs, naming outputs, and creating outputs.  This might be better put in the capturing outp

[2021-04-07 20:10] swzCuroverse commented on #31
I would suggest that you assume that you have a script that already exists that we want to run and show how to run that.  Because I wouldn't want people to think the way to run an existing script was to cut and paste into the listing.  I understand this would be a hack if you wanted to generate one on the fly but I think the use case of having a script you want to run if far more common and creati

[2021-04-11 23:44] skanwal commented on #31
Hi @swzCuroverse

Thanks for the suggestion and it definitely makes sense to also focus on adding an existing script.

Wondering if we can have one exercise also on "creating a script" at runtime to cater for running a simple command during process execution as this is also one of a common practice?

Happy to revamp the exercises.

[2021-04-12 01:27] swzCuroverse commented on #31
Thank you! Yes @skanwal we should reuse the work you did on the creating a script exercises.  My only question is if it is a better fit in this tutorial or the intermediate tutorial.

[2021-04-16 13:22] mr-c opened #33 "Define "Workflow Thinking""
Gryk and Ludäscher says in https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5779102/ (a.k.a https://doi.org/10.1353/lib.2017.0018 )

Thanks to @stain for the tip

[2021-04-26 11:17] stain opened #34 "Make FAIR intro video for Citing-Tools episode"
## Citing Tools: Introduction video

_Subjects that need to be covered in a presentation. Ideally we can produce a short a video clip_:

* FAIR: Focus on Findability - quality of metadata
* Findability of Software
  - bio.tools and RRIDs
* Versioning of software - [semantic versioning](https://semver.org/)
* ORCID - Findability of authors
* Identifier basic knowledge - why PID matters?
* Workflows

[2021-04-27 19:43] swzCuroverse commented on #34
@stain I can work on this based off the info @mr-c gave me for the FAIR page in the new CWL website.  Peter and I have a video plan based on what we suggested at the virtual and Open Shot and audacity so we can do it in all open source.   Do you want me to start the slides and we can iterate?

[2021-08-19 14:40] douglowe commented on #27
Are these running still? If so I'd be interested in participating.

[2021-08-20 15:18] mr-c commented on #27
@douglowe They are, thanks! I've sent you an invite

[2021-08-23 11:27] mr-c opened #38 "Add @douglowe to maintenance team"
Thanks!

[2021-08-23 13:51] mr-c opened #39 "Write & test setup instructions"
Write up MS VS Code instructions, and test them.
For MS Windows users, this means setting up Docker + WSL 2, and other components

https://github.com/common-workflow-language/cwltool#ms-windows-users

[2021-08-24 10:52] tobyhodges commented on #38
Done ✅

@douglowe you should have received an invitation to join the Team. Thanks for contributing to this lesson 🙌

[2021-08-24 10:52] #38 closed

[2021-09-01 16:39] mr-c opened #42 "consider using text from the recent CWL paper"
https://arxiv.org/abs/2105.07028

[2021-09-22 15:57] douglowe commented on #26
I've started dividing (what I think are) the intermediate episodes into my copy of the repository: [https://github.com/douglowe/cwl-intermediate-tutorial](https://github.com/douglowe/cwl-intermediate-tutorial). The lessons (currently) are:

- CWL recap
- dynamic workflows
- scatter
- nesting workflows
- including shell scripts
- customize
- running on HPC
- running on cloud

Probably the last two

[2021-09-27 13:18] mr-c commented on #25
@tobyhodges we lost this in the migration ; can you enable them here?

[2021-09-27 15:06] MCMaurer commented on #25
@mr-c since Toby is on leave right now, I'm taking over his duties with the Carpentries Incubator. Happy to help get this working for you, but I'm not entirely sure what's needed to re-enable the Netlify app. If you can let me know what the necessary steps are, I'm happy to give it a go!

[2021-09-27 16:06] mr-c commented on #25
@MCMaurer Thanks! From https://app.netlify.com/start please add https://github.com/carpentries-incubator/cwl-novice-tutorial then follow the instructions at https://github.com/carpentries-incubator/cwl-novice-tutorial/issues/25#issuecomment-804799417 using the new URL netlify gives you

[2021-09-27 19:25] MCMaurer commented on #25
@mr-c alright, I think I got it done. It's currently running on my personal Netlify account, I'm going to try to figure out what the policy is for putting Incubator lessons on the org's Netlify. I'll get back to you once I've got that figured out!

[2021-10-04 10:34] mr-c commented on #25
@MCMaurer I deleted my netlify site `cwl-novice-tutorial` from the old repo location if you want to rename `thirsty-hoover-1e0704` to that :-)

[2021-10-04 10:34] #25 closed

[2021-10-06 20:59] MCMaurer commented on #25
Hey @mr-c, just getting around to this now! I just saw this as well as the PR you tagged me in.

I actually put up this Netlify app with my personal account, and it looks like there's no way to transfer the project to our Carpentries account. I'm going to go ahead and have another Core Team member do the same steps with that account, and I'll let you know here as soon as I do! Does that sound alri

[2021-10-06 21:00] mr-c commented on #25
@MCMaurer that works for me!

[2021-11-15 19:53] mr-c opened #46 "review material from eduWRENCH"
https://eduwrench.ics.hawaii.edu/pedagogic_modules/workflows/

[2021-11-16 13:08] mr-c opened #47 "add @aluesink to the maintainers team"
Thanks!

[2021-11-16 13:23] mr-c opened #48 "enable @mr-c permissions to merge https://github.com/carpentries-incubator/cwl-novice-tutorial/pull/44"

[2021-11-19 14:29] mr-c commented on #48
Ping @MCMaurer

[2021-11-19 17:29] MCMaurer commented on #48
Hey @mr-c, just checking on this- do you not have permissions to merge this PR with Maintain access? If not, I can make you an Admin on the repo.

[2021-11-19 17:43] mr-c commented on #48
Admin access would ve appreciated, thanks

[2021-11-22 10:09] mr-c commented on #48
@MCMaurer Yeah, looks like I need admin access to approve GitHub Action workflow running for first time contributors? https://github.com/carpentries-incubator/cwl-novice-tutorial/pull/49

In this case I fixed it by force-pushing to the contributors branch with a commit from me, but this will not always be possible

[2021-11-22 15:26] mr-c opened #51 "Shrink dataset"
400MiB is doable, but smaller is better

([via](https://github.com/carpentries-incubator/cwl-novice-tutorial/pull/50#discussion_r754368816))

[2021-11-22 15:27] mr-c opened #52 "Create a template git repository for learners"
Could we create a template git repository for users to download, rather than having them initialise a repository themselves? e.g. [https://github.com/bioexcel/biobb-cwl-tutorial-template](https://github.com/bioexcel/biobb-cwl-tutorial-template)

I'm happy to action this (next month) if it would be useful.

_Originally posted by @douglowe in https://github.com/carpentries-incubator/cwl-novice-tutor

[2021-11-22 15:29] mr-c commented on #39
and Benten ( + cwltool, if Benten doesn't pull that in automatically)

[2021-11-22 15:31] mr-c commented on #52
See also https://github.com/carpentries-incubator/cwl-novice-tutorial/pull/50#discussion_r754370372

[2021-11-22 18:32] MCMaurer commented on #48
@mr-c got it, just gave you Admin access!

[2021-11-22 18:32] #48 closed

[2021-11-23 15:24] swzCuroverse opened #54 "text for https://carpentries-incubator.github.io/cwl-novice-tutorial/02-shell_to_cwl/index.html doesn't allign with exercises"
It seems like we need to address a bunch of topics in the shell to cwl text that isn't explained to do the exercises
1) output is first explained using stdout which I think is super confusing as a first example, additionally no examples are given to show how to do output that isn't stdout or a File but the example assume you know what to do that.
2) there is no example on how you use a glob that d

[2021-11-23 15:50] ALuesink commented on #54
Hi @swzCuroverse,
thank you for your remarks. This episode is still a work in progress and a lot will be changed, for example the exercises. The RNA-seq example will be the main part of this episode and will be used in later episodes.

[2021-11-23 16:21] mr-c commented on #54
Thanks @swzCuroverse

Today I realized that this novice tutorial is going to be more about using, combining, and adapting existing CommandLineTool descriptions into Workflows. Less so about writing CommandLineTool description's from scratch

[2021-11-23 16:21] swzCuroverse commented on #54
How best should I help with this?  I can work to swap out the example from from the RNA-seq example.

[2021-11-23 16:23] swzCuroverse commented on #54
"Today I realized that this novice tutorial is going to be more about using, combining, and adapting existing CommandLineTool descriptions into Workflows. Less so about writing CommandLineTool description's from scratch" <--- so we are assuming they have some commandline tools done already?  That seems like a strange subsection to focus on
 for intro content.

[2021-11-23 16:34] douglowe commented on #54
IIRC, my intention for the first lesson was to use the writing of a simple CommandLineTool as an introduction to the basic CWL syntax (in a manner which allows for the learner to follow the transition from shell style syntax through to CWL style syntax). The end of the lesson was then to include the tool into a 1 step workflow, and the next lesson would be the move from 1-step to multi-step workfl

[2021-11-23 16:34] mr-c commented on #54
Nope. Just as a Galaxy user almost never knows how to write Galaxy Tool XML, the beginning CWL user can learn workflow thinking without writing their own CommandLineTool descriptions

[2021-11-23 16:35] mr-c commented on #54
Agreed!

[2021-11-29 15:39] mr-c commented on #39
Must use virtualenv to get newer cwltool version than is in Debian stable so that `--print-dot` works with spaces in identifiers

[2021-11-29 15:55] mr-c commented on #52
Maybe we shouldn't, to avoid the complexity of `git`?

[2021-11-29 16:30] douglowe commented on #52
I think it'd still be a good idea - as a template repository can provide all the tool dependencies that users will need. This is especially true as github have fixed the template tools since I made that example repository, and now git submodules will copy over when you use the template - and you can pull them with the main repository using `git clone --recursive`. Just need clear & up to date docu

[2021-12-02 10:26] mr-c commented on #52
Hey @douglowe we decided that you are right; we'll be using https://github.com/common-workflow-lab/cwl-novice-tutorial-data for the learners to clone and work from

[2021-12-03 15:28] ALuesink commented on #11
Setup instructions are added in PR https://github.com/carpentries-incubator/cwl-novice-tutorial/pull/50

[2021-12-03 15:31] #11 closed

[2021-12-03 15:32] mr-c commented on #11
Thanks @ALuesink !

[2021-12-03 15:39] ALuesink commented on #39
The use of a virtual environment is added to the setup instruction in PR https://github.com/carpentries-incubator/cwl-novice-tutorial/pull/55/

[2021-12-03 15:42] ALuesink commented on #46
This workshop briefly introduces the concept of workflow, but is mostly focused on data and is very mathematical

[2021-12-03 15:44] ALuesink commented on #51
We could possibly use a different chromosome to generate the STAR index, which could result in a smaller dataset.
The fastq files can be reduced to only one file.

[2021-12-03 15:47] ALuesink commented on #42
This CWL paper is mentioned and cited in the Introduction

[2021-12-03 17:33] mr-c commented on #46
Great, thank you @ALuesink for checking

[2021-12-03 17:33] #46 closed

[2022-01-07 14:34] gcapes opened #58 "Index: objective-notes link missing"
The index page attempts to link to these notes. I guess the link should either be fixed or removed.

[2022-01-11 14:37] gcapes commented on #51
I think this would be very useful. My laptop crashed trying to create the star index files so I downloaded them instead, but this took  quite a while.

[2022-01-11 15:03] swzCuroverse commented on #51
We are running on chromosome 19 -- so I believe the difference between 19 and 21 would not solve this issue.  I would recommend instead making a comment on the text itself about how much memory is need to run the index command on a laptop.  Unfortunately real world examples take real world sized data.

[2022-01-11 15:04] mr-c commented on #51
Can we use half of the file?

[2022-01-11 15:09] swzCuroverse commented on #51
Um, not sure that would make sense and give us a real result.  I would have to play around with the existing data. I believe the initial problem was the indexing and time to download the index file.   If we just note 1) that if you have less than X amount of memory/RAM you should download and 2) The time for download and perhaps ask students to download the date before the session or note that the

[2022-01-11 15:28] swzCuroverse commented on #51
This example used a soybean data set -- https://bioinformatics.uconn.edu/resources-and-events/tutorials-2/rna-seq-tutorial-with-reference-genome/# --->  it might be easier to use that and adjust the reference that trim the human data.

The sizes might be similar though -- https://data.jgi.doe.gov/refine-download/phytozome?q=Gmax_275&expanded=Phytozome-275

[2022-01-11 15:39] douglowe commented on #51
Wikipedia (that ever reliable source of information...) tells me that the soybean genome is still ~1/3 of the size of the human genome. Would it be possible to use something smaller still - nematode or fruit fly for example? Or would these not be suitable / available for our purposes here?

https://en.wikipedia.org/wiki/List_of_sequenced_eukaryotic_genomes

[2022-01-11 16:27] swzCuroverse commented on #51
We just have to find a resource that has it - and has the right format.  I can try to find a fruit fly example - however we want to balance having a small "toy" example and something that does a bit of crunch to show that CWL is useful.

[2022-01-12 11:01] gcapes opened #66 "No need for 'learning objectives' call out box"
I'm wondering whether there's a reason most of the episodes have a callout box with learning objectives in addition to the learning objectives in the 'Overview' box? While the objectives aren't necessarily duplicated, the intent seems to be. Would it be better to put all the learning objectives into the 'Overview' box?

[2022-01-12 14:13] swzCuroverse commented on #51
Galaxy has a fruitfly example (we need to give a ref to the data, as they did - and perhaps a call out to them but...) https://training.galaxyproject.org/training-material/topics/transcriptomics/tutorials/ref-based/tutorial.html

[2022-01-12 15:37] gcapes opened #67 "Ep04 ex2: Use featureCounts from bio-cwl-tools downloaded in setup"
The episode shows how to download the file from GitHub, but the setup section clones the bio-cwl-tools repo and the solution uses the file path to the cloned repo.
The episode could still show copying from GitHub as an alternative.

[2022-01-20 12:40] #10 closed

[2022-01-21 14:10] gcapes opened #68 "Update overall learning objectives"
The index page contains an outdated list of learning objectives.

- [x] These should be put into the relevant episodes if appropriate.
- [x] Remove 'learning objectives' callout boxes #66

[2022-01-21 14:10] gcapes opened #69 "Outline where exercises should be added"

[2022-01-26 14:31] #66 closed

[2022-01-26 14:55] gcapes commented on #58
Fixed in e432d65632

[2022-01-26 14:55] #58 closed

[2022-01-26 16:03] #67 closed

[2022-01-27 16:39] gcapes opened #73 "Add motivation to introduction"
The only objectives form the index page which aren't already covered in episodes or the intermediate tutorial are these:

- explain the difference between control flow and data flow
- identify the inputs and outputs, tasks, and links in a script
- (recognize and remove details and configuration in a script that are specific to particular infrastructure)
- (remove loops for moment, these will be co

[2022-01-27 17:17] #68 closed

[2022-02-04 11:04] douglowe commented on #51
I've started some new material based on the fruitfly example here: https://github.com/douglowe/cwl-tutorial-material-prototype

I'm trying to map their examples to the CWL tools - slowly getting there, but if anyone has more familiarity with the science wants to advise on this that would be great!

[2022-02-04 13:16] mr-c commented on #73
Thanks @gcapes ; you might find motivation for "why use workflows" in https://arxiv.org/abs/2105.07028

[2022-02-04 13:17] melibleq commented on #73
Preview of the new website: https://deploy-preview-75--cwl-website.netlify.app/ - the "Features" content might be especially relevant here

[2022-02-04 14:19] mr-c opened #75 "can't copy tabs from webpage"
https://github.com/carpentries-incubator/cwl-novice-tutorial/blob/gh-pages/_episodes/debug.md has a tab on purpose to show an example error message; however you can't copy a tab character from a webpage;

Maybe have the learner download the broken file from a `raw` GitHub download link?

Also, I will fix the error to be better

[2022-02-15 17:01] gcapes commented on #73
I didn't find either resource gave enough detail for me to be able to answer this, but a recent discussion I had was quite illuminating. Here's some things which weren't clear to me

- [ ] setup says that we're downloading tools to use

  However, these are only the tool descriptors, rather than the tools themselves. This confused me because I thought that the point of docker is to contain the who

[2022-03-15 12:24] douglowe commented on #52
I've finally got around to setting up the template repository - see this PR: [https://github.com/common-workflow-lab/cwl-novice-tutorial-data/pull/1](https://github.com/common-workflow-lab/cwl-novice-tutorial-data/pull/1)

[2022-03-15 12:26] douglowe commented on #52
I've created a conda environment file for installing `cwltool` and `graphviz`. Can we change the Setup page to reflect this, as I think this is a much better solution than using both `pip` and `apt` to do the same job.

[2022-03-15 16:43] douglowe commented on #73
I've added an example `docker run` to the start of our first lesson, to give students some experience of running containerised tools directly on the command line. See this PR: [https://github.com/carpentries-incubator/cwl-novice-tutorial/pull/78](https://github.com/carpentries-incubator/cwl-novice-tutorial/pull/78)

I think this might help with some of our motivation points above.

[2022-03-16 09:35] mr-c commented on #73
Why workflows vs bash/Make?
- Switching infrastructure (local vs. HPC; or switching HPC schedulers, or moving to cloud)
- Easier to use software containers

use the above with examples, also mention these below

- Sharing is easier
- Scaling is easier
- Better reporting (management of complexity), and ‘for free’
- Job caching (re-use of previous runs)
- Simpler to reuse components (sharing sub-wor

[2022-03-16 09:57] mr-c opened #79 "lesson 2 explain output object and add exercise: renaming workflow output"
- [ ] explain the CWL output object that is already shown
    - [ ] each File is listed with properties (explain them)
    - [ ] we are explictly told the location of each output file and directory, unlike docker
    - [ ] each output has a name that corresponds with our workflow `outputs` sections; these should meaningful because sometimes the filenames are cryptic
- [ ] `qc_html` is not a great

[2022-03-16 10:12] mr-c opened #80 "macOS specific install instructions"
https://carpentries-incubator.github.io/cwl-novice-tutorial/setup.html#cwl-installation

separate tabs

macOS: install docker desktop; use conda for cwltool & graphviz

Linux: remind that they need docker; mostly as is

MS Windows: copy from Linux but explicitly put in the WSL2 setup parts copied from the external link

all: need a confirmation step for cwltool, docker, and graphviz

[2022-03-17 12:03] #80 closed

[2022-03-17 12:04] #39 closed

[2022-03-20 09:44] mr-c opened #83 "setup related links should open in a new tab/window"
I witnessed someone getting lost because of this, but I don't know the trick to do this.

[2022-03-20 09:46] mr-c opened #84 "code & terminal block should have a copy button"

[2022-03-20 09:51] kinow commented on #83
I think the `target=blank` in HTML links is what is needed here, if the links are in a web page.

Some time ago there were some attacks related to this HTML feature. I haven't followed what happened after that, I only remember a bunch of systems/sites started updating their `target=blank` code.

There's a page on OWASP page about the attack, called "Reverse Tabnabbing", https://owasp.org/www-commu

[2022-03-20 09:53] mr-c commented on #83
Ah, that sounds right.

https://talk.jekyllrb.com/t/how-can-i-ensure-my-links-open-in-a-new-tab/4318 suggests ` [link text](the link){:target="_blank"} ` ; I'll try that out

[2022-03-20 09:56] kinow commented on #83
Try adding the `target="blank" rel="noopener noreferrer"`. If this pair works, I think it also prevents the reverse tabnabbing thingy.

[2022-03-20 09:57] mr-c commented on #83
https://stackoverflow.com/a/62076248 suggests the syntax for markdown/jekyll is `[example](example.com){:target="_blank"}{:rel="noopener noreferrer"}`

Maybe we'll add https://github.com/keithmifsud/jekyll-target-blank to do this automatically for all external links. I'll need to think on that first.

[2022-03-20 10:00] kinow commented on #83
Oh, that was markdown? I'm surprised you can actually do that without mixing markdown and html :clap: :+1:

Today-I-Learned about that extension, thanks!

[2022-03-23 12:21] mr-c commented on #51
I've removed the previous data download instructions https://github.com/carpentries-incubator/cwl-novice-tutorial/blob/071eed284a2ce79fc660ee1d061838bc54bbd1d1/setup.md#files

[2022-03-24 16:28] Juami95 opened #93 "Multistep workflow tutorial"
I get the following error when I try to run the multi-step workflow:
[code]

I am running Ubuntu (18.04 or 20.04) on Windows 10, and have plenty of RAM (only 5 out of 16GB) at any point during the workflow, so I am not entirely sure where the error is coming from.

[2022-03-25 11:59] ALuesink opened #94 "Improvements and bugs during pilot workshop"
These are the notes I took during the pilot workshop at the VU on Thursday March 24th.

**General notes:**
- All the episodes have no time set in the Overview box for Teaching and Exercises.
- Mention using the terminal in VS Code and then starting the virtual environment
- Check if all formats are **https** instead of **http**, also in bio-cwl-tools library (PR #91 & #92)
- Is it necessary to dow

[2022-03-25 17:18] douglowe commented on #51
Reopening this issue - to document the resources needed for generating the (reduced) STAR index.

[2022-03-25 17:24] douglowe commented on #51
I have now managed to generate the index on my laptop (MacBook Pro, 2.3 GHz Dual-Core Intel Core i5, 16 GB RAM). The docker settings I used for this were: CPUs (2); Memory (10Gb); Swap (3Gb); Disk image size (59.6Gb / 4.7Gb used). And I added these lines to the `hints` section of `STAR-Index.cwl`:
[code]
Building the index took 9 minutes, and the maximum memory usage was reported at 9288MiB. The l

[2022-03-25 17:38] douglowe commented on #51
(2) is not necessary - the indexing works fine using a single CPU (with no noticeable change to the process) Max memory used: 9640MiB

[2022-03-25 17:52] douglowe commented on #51
(4) is not necessary - indexing is okay with a Swap of 1Gb. Run time was 11 minutes (slightly slower). Max memory used: 9681MiB

[2022-03-25 20:55] douglowe commented on #51
(3) is the problem - the minimum Memory allocation required for docker (for my system, at least) is 9Gb, using the Resources menu in docker desktop.

I can't seem to get docker to set a minimum RAM value - using the `ramMin` resource requirement, and `--strict-memory-limit` flag for `cwltool` does cause the  `--memory` flag to be used in the docker call. But I've not found a value large enough tha

[2022-03-28 10:38] mr-c commented on #93
Thanks @Juami95 ; I think this would have worked if we had configured WSL2 to allocate more memory.

Can you try the following on your laptop to see if this fixes the issue for you?

[2022-03-28 16:54] mr-c opened #97 "bonus material: running novice examples on remote system"
This will be a general guide that should be customized and tested by the instructors for a specific system.

Recipe:
1. Install https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.vscode-remote-extensionpack
2. Connect to the remote Linux system from VS Code: https://code.visualstudio.com/docs/remote/ssh#_connect-to-a-remote-host
3. Make a Python virtual environment using Python 3

[2022-04-01 11:11] gcapes opened #99 "Is index in addition to rnaseq files?"
The setup section asks learners to download 'sample and reference data', and then talks about generating an index from the downloaded data. For those without 9GB ram spare, it suggests downloading the index instead of creating it using the STAR aligner tool. Does this mean that learners in this situation would not need to download the sample and reference data?

[2022-04-01 13:17] mr-c commented on #99
Good point, we could clarify that everyone needs 1) 1st set of subsampled reads and 2) the gene model, and then they either need to download the indexed genome OR download the un-indexed reference genome and index it themselves.

[2022-04-01 14:18] gcapes opened #101 "Ep03: Multi-step workflow doesn't extend previous example"
I think it did previously, but now the inputs and steps are renamed, so while the functionality remains, as a learner it feels like you're writing a whole new file rather than building on the previous episode.

[2022-06-10 14:37] #51 closed

[2022-06-10 15:04] gcapes commented on #101
This text doesn't correspond to the example given

The workflow file shown has the following steps: quality_control_forward, quality_control_reverse, trim_low_quality_bases and mapping_reads.

Also, per my original comment, it very much looks like 4 new steps rather than mapping_reads being the only new step. The two quality control steps might be similar to the first one, but with different names

[2022-06-14 08:30] gcapes opened #105 "Ep04: Second exercise depends on missing step"
The exercise is to add `featureCounts` to the workflow, but this step depends on the `index_alignment` step, which just appears out of nowhere in the solution.

The `index_alignment` step needs to be introduced before this exercise.

[2022-06-15 06:24] #99 closed

[2022-06-15 14:09] mr-c opened #109 "mac os: explain how to increase memory available to docker"

[2022-06-15 15:38] feldnerd opened #111 "Setup for Mac M1"
To install for Mac M1 the following installs were needed:

conda install psutil
conda install ruamel.yaml
conda install lxml

Also, not sure if this was necessary, but we also updated conda with:

conda update -n base conda

[2022-06-15 15:43] mr-c commented on #111
Thanks! After the `conda install` then you did a `pip install cwltool` which differs from the regular path on macOS

[2022-06-15 15:46] feldnerd commented on #111
That is correct, thanks for the help on this!

[2022-06-15 17:52] mr-c commented on #111
M1 conda packages are being tested now, first with schema_salad https://github.com/conda-forge/schema-salad-feedstock/pull/75

[2022-06-16 09:29] RenskeW opened #112 "Notes from CWL workshop 15 June"
Here are the notes & proposed enhancements gathered at yesterday's workshop:

- [ ] Fix the variable types in bio-cwl-tools/fastqc/fastqc_2.cwl (e.g. line 39 —> int?)
- [ ] Provide students with list of all containers so they can pull them before the workshop
- [ ] Rename workflow_input.yml and rna_seq_workflow.cwl to different filenames between the lessons (so students don’t need to edit their fi

[2022-06-16 09:47] gcapes commented on #112
Duplicate of #105

[2022-06-28 09:52] mr-c commented on #101
Fixed in https://github.com/carpentries-incubator/cwl-novice-tutorial/commit/9adab86c39df12c33c87e822494eefd83431d895 (my mistake for pushing directly without a code review; sorry!)

[2022-06-28 10:12] #105 closed

[2022-06-28 11:00] mr-c opened #116 "recording memory requirements & docker containers needed"
as reported by `cwltool` and then confirmed with `--strict-memory-limit`

memory:
- setup, indexing: 7200MiB (single-core)
- 02-shell: ?
- 03-dependencies:
   -  job quality_control_forward: Max memory used: 186MiB
   -  job trim_low_quality_bases: Max memory used: 19MiB
   -  job mapping_reads: Max memory used: 4759MiB (4.7 GiB)
   -  job index_alignment: Max memory used: 0MiB ??
 - 05-reusing: j

[2022-06-28 13:11] gcapes commented on #101
https://github.com/carpentries-incubator/cwl-novice-tutorial/commit/9adab86c39df12c33c87e822494eefd83431d895 looks to fix #105 instead.

[2022-06-28 15:32] #116 closed

[2022-06-28 17:15] mr-c commented on #101
Fixed in #118

[2022-06-28 17:15] #101 closed

[2022-06-30 14:01] mr-c commented on #111
Some Apple Silicon (M1, M2) will also need to install Rosetta 2 (`softwareupdate --install-rosetta`)

[2022-08-23 05:47] swzCuroverse opened #124 "Possible suggestion to replace " How to find other solutions/CWL recipes for awkward problems?""
In the schedule - https://carpentries-incubator.github.io/cwl-novice-tutorial/index.html
and here: https://carpentries-incubator.github.io/cwl-novice-tutorial/04-reusing_tools/index.html

The tutorial refers to "awkward" problems which seems to (1) not be what the section is focused on (2) a somewhat odd phrasing for something like "complicated/difficult".

I would suggest changing it to something

[2022-09-20 12:57] swzCuroverse opened #125 "Why does title say "For Contributors""
I am confused why the tile says -- "For Contributors" at the end of it.

[2022-09-20 13:03] mr-c commented on #125
Which title? Can you share the URL of the page you're looking at?

[2022-09-20 13:06] mr-c commented on #125
Ah, at https://carpentries-incubator.github.io/cwl-novice-tutorial/

[2022-09-20 13:07] swzCuroverse commented on #125
I can't figure out where it is coming from in the code or I would fix it.

[2022-09-20 13:10] mr-c commented on #125
Here's a fix: https://github.com/carpentries-incubator/cwl-novice-tutorial/pull/126

[2022-09-20 13:17] #125 closed

[2022-09-20 13:21] mr-c commented on #125
Fixed; thank you @swzCuroverse !